body {
    font-family: "Open Sans", sans-serif;
    color: #2F4F4F; 
    text-align: center;
    margin: 0;
    background-size: contain;
    position: relative;
    }

.header {
    background-color: #333333; /* Darker shade for a sleek, modern header */
    width: 100%;
    color: #F0F8FF; /* Light blue contrast for readability */
    padding: 15px 10px; /* Added vertical padding for better spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    top: 0;
    /* Adds subtle shadow for depth */
}


.header h1 {
    margin: 0;
    font-size: 2rem; /* Slightly larger font for better emphasis */
    font-weight: 700;
    font-family: "Protest Strike", sans-serif;
    margin-left: 13px;
    text-decoration: overline;

}
.header i{
    font-size: 2rem;
}

.products {
    width: 90%;
    display: block;
    margin: 145px auto;
}
.products h1{
    margin-top: -10px;
    font-weight: bold;
}
.renderedproduct {
    border: 1px solid #D3D3D3;
    padding: 20px;
    display: block;
    margin: 10px auto;
    background-color: #FFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    max-width: 700px; 
    border-radius: 10px;
}

.renderedproduct:hover {
    transform: translateY(-5px);
}

.renderedproduct img {
    width: 80%;
    max-width: 350px; /* Limit the image size */
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid wheat;/* Space between image and details */
}


.product-details {
    text-align: left; /* Align text to the left for formality */
    width: 100%;
    margin-top:-20px ;
}
.product-details p{
  margin-top: -5px;
}


.pricing p {
    font-size: 1.1rem;
    margin: 5px 0; /* Consistent spacing between pricing details */
}
.pricing{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.units {
    font-size: 1.1rem;
    margin-top: 1px; /* Space above units */
}
.details-btn{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btnclass{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: inherit;
    border-radius: 10px;
    
}

.btnclass button{
    padding: 8px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 10px;
    
}

.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    font-size: 1.3rem;
}

.profit{
 font-weight: bold;
 color: green;
}

.cart-itemlength{
    margin-top: -10px;
    margin-bottom: -6px;
    font-weight: bold;
    color: yellow;
    font-size: 1.3rem;
}
.cart h2{
    font-weight: bold;
    font-family: inherit;
    font-size: 1.4rem;
    
}
.carttotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D3D3D3		;
    max-width:700px ;
    margin: 0px auto;
    border-radius: 10px;
    align-items: center;

    
}

.quantity-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.quantity-btn p{
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 0.1rem;
    
}
.quantity-btn button{
    padding: 5px 20px;
}
.finalprofit{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: green;
    font-weight: bolder;
    margin-top: -20px;
    align-items: center;
    
}

.finalprofit h3{
    font-weight: bold;
    font-size: 1.2rem;   
}

.total{
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}


.cartrenderedproduct {
    border: 1px solid #D3D3D3;
    padding: 10px;
    display: flex;
    margin: 10px auto;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 700px; 
    border-radius: 10px;
    
}
.cart{
    padding: 0px 10px 100px 10px ;
    background-color: lightgray;
 
}

.cartrenderedproduct:hover {
    transform: translateY(-5px);
}

.cartrenderedproduct img {
    width: 35%;
    height: 130px;
    max-width: 350px; /* Limit the image size */
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid wheat;
    /* Space between image and details */
}
.submit{
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.3rem;
}

.cartname-price{
    display: flex;
    font-size: 1.2rem;
    gap: 5px;
}
.finalordertext{
    font-weight: bolder;
    margin-top: 25%;
    font-size: 1.3rem;
    
}
.checkoutdetails{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    
}

.formdiv{
    margin: 25% auto;
    max-width: 500px;
    display: block;  
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    font-size: 1.3rem;   
    padding: 10px;
    margin: 40% 8%;
    
     
}
.form input{
    padding: 5px;
    border-radius: 10px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.4);
    border: none;
}
.form button{
    background-color: orange;
    border: none;
    padding: 5px;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-weight: bold;
    color: black;
    
}

.mainheader{
    display: flex;
    color: white;
}
.shopnameheader{
    margin-top: 0;
    margin-bottom: 0;
    color:  #A9A9A9	;
    font-size: 1rem;
    width: 100px ;
}

.cartemptytext{
    margin-top: 10%;
}



.headerdiv1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.header button{
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 15px ;
}
.gotToCart{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    

}

.search{
    display: flex;
    width: 100%;
    
}
